@import url(https://fonts.googleapis.com/css?family=Poppins:regular,300,500,600,700,800,900&display=swap);

@charset "UTF-8";

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Poppins";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
*/

.header__container {
  background: rgba(255, 0, 0, 0.459);
  color: white;
  font-size: 1.875rem;
  text-align: center;
}

.catalog {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 10px;
}

.catalog__item {
  padding: 0 24px;
}

.item-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.item-catalog__stock {
  padding: 7px 5px 7px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
  font-weight: 400;
  font-size: 10px;
  line-height: 210%;
  color: #78A962;
}

.item-catalog__stock::before {
  content: "";
  height: 10px;
  width: 10px;
  background: url("../img/in.svg");
}

.item-catalog__image {
  position: relative;
  padding: 0px 0px 100% 0px;
  overflow: hidden;
}

.item-catalog__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #000;
}

.item-catalog__img:hover {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.item-catalog__reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 9px;
     -moz-column-gap: 9px;
          column-gap: 9px;
}

.item-catalog__reviews:not(:last-child) {
  margin: 0px 0px 7px 0px;
}

.item-catalog__rev {
  font-weight: 400;
  font-size: 12px;
  line-height: 210%;
  color: #A2A6B0;
}

.item-catalog__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #000000;
}

.item-catalog__text:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.item-catalog__old-price {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #666666;
}

.item-catalog__new-price {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 25, 2px;
}